:root[data-theme='dark'] {
  --ModeColor1: hsl(210, 6%, 7%);
  --ModeColor2: hsl(0, 0%, 13%);
  --ModeColor3: hsl(0, 0%, 24%);
  --ModeText: hsl(0, 0%, 100%);
  --redColor: hsl(0, 100%, 35%);
}

:root[data-theme='light'] {
  --ModeColor1: hsl(0, 0%, 95%);
  --ModeColor2: hsl(0, 0%, 100%);
  --ModeText: hsl(200, 15%, 8%);
  --redColor: hsl(0, 100%, 35%);
}

.container {
  margin-top: 152px;
  height: 100vh;
}

body {
  background-color: var(--ModeColor1);
  transition: 0.5s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
}

a:-webkit-any-link {
  color: var(--ModeText);
  text-decoration: none;
}
